

.bg-slader-color{
    background-color: #FEEAE9;
}
.Categories_bg_1{
    background-color: #FF9C35;
}
.Categories_bg_2{
    background-color: #FF589B;
}
.Categories_bg_3{
    background-color: #4289FF;
}
.form_bg_color{
    background-color: #FFF2F1;
}
.form_button_color{
    background-color: #FF589B;
}